h1{
	color : black;
}
.Output_Fields {
	width : 15px;
}
.buttons{
	font-size: 15px;
}
.top-row {
	margin-left: 95px;
}
.second-row {
	margin-left: 95px;
}
.third-row {
	margin-left: 95px;
}
.fourth-row {
	margin-left: 95px;
}