body {
	background-color: pink;
} 
#circle {
	width: 200px;
	height: 200px;
	background-color: green;
	border-radius: 100px
}
.square {
	width: 200px;
	height: 200px;
	background-color: blue;
	margin-top: 10px;
}