body {
	background-color: pink;
} 
#circle {
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 50px
}
.square {
	width: 100px;
	height: 100px;
	background-color: blue;
	margin-top: 10px;
}